



.list-and-flex-col h3{
    color: tomato;
    align-items: center;
    display: flex;
    font-size: 30px;
    padding: 20px 20px ;
}

.list-table-format{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;
    align-items:stretch;
    gap: 10px;
    padding: 20px 20px;
    border: 1px solid lightblue;
    font-size: 20px;
    color: black;
}
.list-table-format.title{
    background-color: lightblue;
    padding: 20px;
}
.list-table-format img{
    width: 50px;
}

.list-table-format button{
    background-color: tomato;
    font-size: 15px;
    color: white;
    border: none;
    width:50px;
    height: 30px;
    /* padding: .01px .01px; */
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}
